
body{
   overflow: hidden;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#canvas_container{
   z-index: 10;
}

#ui-box
{
   position: absolute;
   top: 0;
   right: 0;
   z-index: 100;
   top: 10px;
   right: 10px;
}
#ui-box ul {
   list-style: none;
}
#ui-box ul li{
   display: inline;
   padding: 4px;
}

#ui-box ul li:hover{
   color: grey;
   cursor: pointer;
}

#ui_left_container{
   position: absolute;
   top: 10px;
   left: 10px;
   z-index: 100;
}

#ui_left_container_ul{
   width:200px;
}
#ui_left_container_ul li{
   margin-top:5px;
}

#ui_examples_container{
   color: black;
   background-color: #EFEFEF;
   padding: 5px;
}
#ui_examples_container .header{
   font-size: 1.5em;
}
#ui_examples_container select{
   margin-top: 15px;
   width: 100%;
}
#ui_examples_container #recursions{
   margin-top: 15px;
}
#ui_examples_container #recursions input{
   width: 45px;
   text-align: right;
}
#ui_examples_container #recursions span{
   font-size: 1em;
}

#ui_algorithm_input{
   color: black;
   background-color: #EFEFEF;
   padding: 5px;
}









